@import url('common.css');

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.preview {
    margin-top: 20px;
    padding: 15px;
    border: none; /* Enlever la bordure */
    background-color: transparent; /* Enlever le fond */
}

.preview table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour effet Material Design */
    border-radius: 8px; /* Coins arrondis */
    overflow: hidden; /* Assurer que les coins arrondis sont appliqués */
}

.preview th, .preview td {
    padding: 12px 15px;
    text-align: left;
}

.preview th {
    background-color: #292929; /* Couleur de fond pour l'en-tête */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

.preview tr {
    border-bottom: 1px solid #e0e0e0; /* Ligne de séparation */
}

.preview tr:last-child {
    border-bottom: none; /* Enlever la ligne de séparation pour la dernière ligne */
}

.preview tr:hover {
    background-color: #f1f1f1; /* Couleur de fond au survol */
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 2em;
    margin-right: 2em;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    padding: 9px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 1em;
    border-radius: 25px;
    width: calc(100% - 2em); /* Ajustement de la largeur pour tenir compte des marges */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
    margin-left: 1em; /* Ajout de la marge à gauche */
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px; /* Séparer visuellement du tableau */
}

.delete-button svg {
    width: 36px; /* Agrandir le SVG */
    height: 36px; /* Agrandir le SVG */
    fill: #ff4d4d;
}

.delete-button:hover svg {
    fill: #ff1a1a;
}

.delete-container {
    display: inline-block;
    margin-left: 10px;
}

.line-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
    margin-left: 2em;
    padding-right: 3em;
    flex-wrap: wrap;
}

.line-container table {
    flex: 1;
}

.containerRight {
    min-height: 760px;
    min-width: 1000px;
    max-height: 100px;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 1em;
}

.containerRight::-webkit-scrollbar {
    width: 10px;
}

.containerRight::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.containerRight::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 10px;
}

.containerRight::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.containerLogo {
    text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container, .containerRight {
        width: 100%;
        padding: 1em;
        margin: 0.5em;
    }

    .containerRight {
        min-width: 100%;
        min-height: auto;
        max-height: none;
    }

    .line-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        padding-right: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        width: 100%;
    }
}