@import url('common.css');

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    margin-left: 1em;
}

.preview { 
    padding: 5px;
    border: none; /* Enlever la bordure */
    background-color: transparent; /* Enlever le fond */
}

.preview table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour effet Material Design */
    border-radius: 3px; /* Coins arrondis */
    overflow: hidden; /* Assurer que les coins arrondis sont appliqués */
}

.preview th, .preview td {
    padding: 12px 15px;
    text-align: center;
}

.preview th {
    background-color: #292929; /* Couleur de fond pour l'en-tête */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

.preview tr {
    border-bottom: 1px solid #e0e0e0; /* Ligne de séparation */
}

.preview tr:last-child {
    border-bottom: none; /* Enlever la ligne de séparation pour la dernière ligne */
}

.preview tr:hover {
    background-color: #f1f1f1; /* Couleur de fond au survol */
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 2em;
    margin-right: 2em;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 1em;
    padding: 30px; /* Ajusté pour correspondre au style Material Design */
    background-color: #ffffff;
    border-radius: 8px; /* Material design border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Material design shadow */
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: calc(100% - 2em); /* Ajustement de la largeur pour tenir compte des marges */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
    margin-left: 1em; /* Ajout de la marge à gauche */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus effect */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #292929; /* Material design primary color */
    box-shadow: 0 0 0 2px rgba(0, 54, 12, 0.2); /* Material design focus shadow */
}

input[type="button"] {
    background-color: #292929; /* Keep the existing button color */
    color: #fff;
    border: none;
    border-radius: 4px; /* Adjusted to be more rectangular */
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    padding: 12px 30px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

input[type="button"]:hover {
    background-color: #3b3b3b; /* Darker shade for hover effect */
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px; /* Séparer visuellement du tableau */
}

.delete-button svg {
    width: 36px; /* Agrandir le SVG */
    height: 36px; /* Agrandir le SVG */
    fill: #ff4d4d;
}

.delete-button:hover svg {
    fill: #c20b0b;
}

.delete-container {
    display: inline-block;
    margin-left: 10px;
}

.line-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
    margin-left: 2em;
    padding-right: 3em;
    flex-wrap: wrap;
}

.line-container table {
    flex: 1;
}

.containerRight {
    min-height: 800px;
    min-width: 1000px;
    max-height: 100px;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px; /* Material design border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Material design shadow */
    box-sizing: border-box;
    margin: 1em;
    position: relative; /* Assurez-vous que le conteneur parent est en position relative */
    padding-bottom: 80px; /* Ajoutez un padding pour éviter que le total ne chevauche les lignes */
}

.containerRight::-webkit-scrollbar {
    width: 10px;
}

.containerRight::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.containerRight::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 10px;
}

.containerRight::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.containerLogo {
    text-align: center;
}

.total-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.total-row {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: large;
    color: #292929;
}

.total-amount {
    font-size: 1.7em;
    color: #777; /* Different color for total amount */
}

.preview-container {
    max-height: 650px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}


.preview-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.preview-container::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 10px;
}

.preview-container::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

#emptyMessage {
    color: lightgray;
    text-align: center;
    font-size: 1.5em; /* Taille de texte plus grande */
    margin-top: 300px; /* Marge supérieure pour centrer verticalement */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container, .containerRight {
        width: 100%;
        padding: 1em;
        margin: 0.5em;
    }

    .containerRight {
        min-width: 100%;
        min-height: auto;
        max-height: none;
    }

    .preview-container {
        max-height: 300px; /* Ajustez cette valeur selon vos besoins */
    }

    .line-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        padding-right: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        width: 100%;
    }
}