@import url('common.css');

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    text-align: center; 
    background-color: #fff;
    border-radius: 6px; /* Lighter border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.15); /* More pronounced shadow at the bottom */
    padding: 2em;
    margin: 1em; /* Add margin for responsiveness */
    max-width: 90%; /* Ensure the container does not exceed the viewport width */
    max-width: 700px; /* Add maximum width */
}
.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}
.description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 1em;
        margin: 1em;
    }
    .title {
        font-size: 1.5em;
    }
    .description {
        font-size: 1em;
    }

}

@media (max-width: 480px) {
    .container {
        padding: 0.5em;
        margin: 0.5em;
    }
    .title {
        font-size: 1.2em;
    }
    .description {
        font-size: 0.9em;
    }
}