body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.container {
    width: 100%;
    max-width: 210mm; 
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.1);
    color: #292929;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

a {
    color: #292929;
}

.info-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height: 1.4; /* Adjust line spacing */
}

.company-info, .client-info {
    width: 45%;
    font-size: 14px;
}

.company-info {
    text-align: left;
}

.client-info {
    text-align: right;
}

.devis {
    margin-bottom: 20px;
    font-size: 14px;
}

.devis table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.devis table th, .devis table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.devis table th {
    background-color: #292929;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.devis table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.devis table tr:hover {
    background-color: #f1f1f1;
}

.devis table th:nth-child(3), .devis table td:nth-child(3), .devis table th:nth-child(4), .devis table td:nth-child(4) {
    width: 10%; /* Reduce width of the "Durée" column */
    text-align: center;
}

.total-banking-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    border-top: 1px solid #ddd; /* Reduced border size */
    padding-top: 10px;
}

.iban-bic-info {
    flex: 1;
    color: #777; /* Lighter color for bank info */
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #292929;
}
h1, h2{
    color: #292929;
}

.bank-details {
    margin-top: 0; /* Remove top margin */
    font-size: 14px;
}

.total-row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: large;
    color: #292929;
}

.total-amount {
    font-size: 1.7em;
    color: #777; /* Different color for total amount */
}

footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

#number_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px; /* Reduced margin-bottom */
}

.date-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Petit espace entre "Le" et l'input */
}

/* Conteneur de l'upload */
.upload-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: white;
    padding: 10px 16px;
    border-radius: 3px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input caché */
.file-input {
    display: none;
}

/* Label pour l'input file */
.file-label {
    background-color: #6200ea;
    color: white;
    padding: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s ease;
    display: inline-block;
    text-align: center;
}

.file-label:hover {
    background-color: #3700b3;
}

/* Bouton d'importation */
.md-button, #print-btn, #save-json-btn {
    background-color: #03dac6;
    color: black;
    border: none;
    padding: 5px 8px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.md-button:hover, #print-btn:hover, #save-json-btn:hover {
    background-color: #018786;
}

@media print {
    #print-btn, .upload-container {
        display: none;
    }
    .dark-mode-toggle {
        display: none !important; /* Cacher le switch de dark mode */
    }
    @page {
        margin: 0;
    }
    body {
        margin: 10px;
    }
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}