body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 210mm; 
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 0;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

a {
    color: rgb(58, 58, 58);
}

.info-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height: 1.4; /* Adjust line spacing */
}

.company-info, .client-info {
    width: 45%;
    font-size: 14px;
}

.company-info {
    text-align: left;
}

.client-info {
    text-align: right;
}

.devis {
    margin-bottom: 20px;
    font-size: 14px;
}

.devis table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.devis table th, .devis table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.devis table th {
    background-color: #292929;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.devis table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.devis table tr:hover {
    background-color: #f1f1f1;
}

.devis table th:nth-child(3), .devis table td:nth-child(3), .devis table th:nth-child(4), .devis table td:nth-child(4) {
    width: 10%; /* Reduce width of the "Durée" column */
    text-align: center;
}

.total-banking-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    border-top: 1px solid #ddd; /* Reduced border size */
    padding-top: 10px;
}

.iban-bic-info {
    flex: 1;
    color: #555; /* Lighter color for bank info */
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.bank-details {
    margin-top: 0; /* Remove top margin */
}

.total-row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.total-amount {
    font-size: 1.5em;
    color: #707070; /* Different color for total amount */
}

footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

#print-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.4s;
}

#print-btn:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

#number_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px; /* Reduced margin-bottom */
}

.date-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Petit espace entre "Le" et l'input */
}

@media print {
    #print-btn {
        display: none;
    }
    @page {
        margin: 0;
    }
    body {
        margin: 10px;
    }
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}